body {
  margin: 0;
  font-family: monospace;
  background: #0b0c1c url('https://www.transparenttextures.com/patterns/stardust.png');
  color: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

textarea, input, button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8em;
  margin: 0.5em;
  background: #1b1d3b;
  border: 1px solid #394165;
  color: white;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background: #262947;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}